@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.main-holder{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
}

Link{
    text-decoration: none;
}

.div-ver{
  padding-bottom: 40px;
}
