section{
    background-color: rgb(255, 255, 255);
    height: 100dvh;
    display: flex;
    flex-direction: column;
}


.topContainer{
    background-color: var(--app-color);
    height: 40%;
    position: fixed;
    flex-grow: 1;
    width: 100%;
    z-index: 1;
    
}

.bottomContainer{
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: fixed;
    width: 100%;
    
}

.overDiv{
    background-color: transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    
}

.mainContainer{
    margin: 15px;
    background-color: transparent;
    height:100%;
    z-index: 2;
    margin-bottom: 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
     z-index: 1000;
    /* background-color:red; */
}

.mainContainerTop{
    background-color: transparent;
    min-height: 150px;
    /* background-color: greenyellow; */
}

.mainContainerBottom{
    height: 100%;
    border-radius: 15px 15px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 2000;
    margin-top: 10px;
}

.SmallList{
    display: flex;
    flex-direction: 5px;
   gap: 10px;
}

h4{
    margin: 0;
}

.AppBar{
    /* background-color: rgb(18, 193, 24); */
    box-shadow: none;
}

.MainDetailsHolder{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    padding-top: 25px;
    /* gap: 10px; */
}

.holder{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
}

.holderItems{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    align-items: center;
}

.holderItems label{
    /* padding-top: 10px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    padding-left: 5px;
    
}

.sthombe{
    height: auto;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
    /* position: absolute; */
     z-index: -1;
}

.sthombeHolder{
    display: flex;
    height: 90%;
    width: auto;
   
    
}