.holder{
    padding: 0px 10px;
    background-color: white;
    padding-top: 60px;
}


.incrementButton{
    background-color: transparent;
    display: flex;
    font-size: 16px;
    justify-content: center;
    font-weight: bolder;
    align-items: center;
    outline: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.incrementButton:hover{
    background-color: red;
    color: white;
}

.incrementButton:nth-child(3){
    color: var(--app-color);
}

.incrementButton:nth-child(3):hover{
    background-color: rgb(13, 74, 204);
    color: white;
}

.cartButtonHolder{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.DeleteCartItem{
    background-color: transparent;
    padding: 1px 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.DeleteCartItem:hover{

    transform: rotateZ(30deg);
    transition: all .1s;
}

.cartTopBar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    padding: 0px 10px;
}
.cartTopBar h3{
    margin-bottom: 10px;
}

.itemHolders{
     padding: 0px 10px;
}

.bottomNav{
    padding: 0px 10px;
    padding-top: 5px;
    /* position: absolute; */
    bottom: 0;
    padding-bottom: 60px;
    position: sticky;
    background-color: white;
}