.holder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.holder .MessageHolder{
     background-color: rgb(196, 196, 196);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 90%;
}

p{
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.metaData{
   display: flex;
    flex-direction: row;
    font-size: x-small;
    text-align: right;
    justify-content: flex-end;
    gap: 5px;
}