.holder{
    padding: 0px 15px;
}


.incrementButton{
    background-color: rgb(251, 70, 70);
    display: flex;
    font-size: 16px;
    justify-content: center;
    font-weight: bolder;
    align-items: center;
    outline: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.incrementButton:hover{
    background-color: red;
}

.incrementButton:nth-child(3){
    background-color: var(--app-color);
}

.incrementButton:nth-child(3):hover{
    background-color: rgb(13, 74, 204);
}

.cartButtonHolder{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}