.container{
    background-image: url(../../../assets/images/food_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip:initial;
    height: 250px;
}

.contentHolder{
    display: flex;
    flex-direction: column;
}